.chat {
  width: 40%;
  margin: auto;

  h2 {
    text-align: center;
  }

  span {
    display: inline-block;
    margin-top: 15px;
  }

  p {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    background-color: white;

    &.userActive {
      background-color: #4cb5d5;
    }
  }
}
